p {
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    background-color: gray;
    font-family: fantasy;
    text-align: center;
}
button {
    text-align: center;
    color: blueviolet;
    border-radius: 5px;
}